numpy
streamlit
tiktoken
ollama 
langchain 
#langchain_community
GitPython
sentence_transformers
langchain-core
langchain-openai
langchain-huggingface
langchain-ollama
langchain-community
langchain-qdrant
langchain-chroma
tqdm
openai
faiss-cpu
#faiss-gpu
qdrant-client
rank_bm25
tree-sitter
tree-sitter-javascript
tree-sitter-sql
tree-sitter-java
tree-sitter-languages